@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fadeInUp {
    animation: fadeInUp 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(32px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
